---
---

@import "{{ site.theme }}";
#navbar {
    background-color: #2a2a2a;

    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;

        a {
            display: block;
            padding: 8px 12px;
            text-decoration: none;
            font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: #fff;

            &.selected {
                background-color: #424242;
            }

            &:hover {
                background-color: #a2a2a2;
            }
        }
    }
}
